@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: Muli, sans-serif;
  /* stylelint-disable unit-blacklist */
  font-size: 16px;
  /* stylelint-enable unit-blacklist */
  background-color: var(--color-white);
  color: var(--color-black);
}

html, body, #root {
  height: 100%;
}
